<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/data-center.css">
    <title>会员中心</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="__PUBLIC__/img/logo.png" alt="logo" class="header-left-logo">
        </div>
        <div class="header-right">
                <a class="header-right-tips" href="{:U('Home/Index/userNews')}">
                    <img src="__PUBLIC__/img/helper.png" alt="tipImg">
                    <span>重邮小帮手：您的账号有一条新的消息~</span>
                </a>
            <div class="header-right-user">
                <div class="header-user-face">
                    <img src="__PUBLIC__/img/face.jpg" alt="face">
                </div>
                <span>loading</span>
                <button class="header-user-show" type="button"></button>
                <ul class="header-user-detail">
                    <a href="{:U('Home/Index/userSettings')}">
                        <li class="header-user-select header-user-set">
                            账户设置
                            <span class="header-set-img"></span>
                        </li>
                    </a>
                    <a href="{:U('Home/Login/logout')}">
                        <li class="header-user-select header-user-out">
                            退出登录
                            <span class="header-out-img"></span>
                        </li>
                    </a>

                </ul>
            </div>
        </div>

    </div>
    <div class="content">
        <ul class="content-left">
            <a href="{:U('Home/Index/Index')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>用户中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/myProduct')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>我的产品</span>
                </li>
            </a>
            <a href="{:U('Home/Index/dataCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>数据查询</span>
                </li>
            </a>
            <a href="{:U('Home/Index/helpCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>帮助中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/prizes')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>领奖规则</span>
                </li>
            </a>
        </ul>
                <div id="data-center-content">
            <h2 id="data-center-title"> &nbsp;数据中心</h2>
            <div class="data-list" id="user-data-show">
                <h2 class="data-list-title">
                    <span class="data-list-icon"></span>
                    我的账户展示
                </h2>
                <ul>
                    <li>
                        <span class="data-describe">最后登录会员中心时间</span>
                        <span class="data-data">2015/02/03</span>
                    </li>
                    <li>
                        <span class="data-describe">登录会员中心次数</span>
                        <span class="data-data">0</span>
                    </li>
                    <li>
                        <span class="data-describe">会员中心积分</span>
                        <span class="data-data">0</span>
                    </li>
                    <li>
                        <span class="data-describe">登录bbs次数</span>
                        <span class="data-data">0</span>
                    </li>
                    <!-- <li>
                        <span class="data-describe">登录BTdown铺次数</span>
                        <span class="data-data">0</span>
                    </li>
                    <li>
                        <span class="data-describe">登录掌上重邮次数</span>
                        <span class="data-data">0</span>
                    </li>
                    <li>
                        <span class="data-describe">登录拾货次数</span>
                        <span class="data-data">0</span>
                    </li>
                    <li>
                        <span class="data-describe">登录云盘次数</span>
                        <span class="data-data">0</span>
                    </li>
                    <li>
                        <span class="data-describe">小帮手使用次数</span>
                        <span class="data-data">0</span>
                    </li> -->
                </ul>
            </div>
            <div class="data-list" id="product-data-show">
                <h2 class="data-list-title">
                    <span class="data-list-icon"></span>
                    产品数据展示
                </h2>
                <ul>
                    <li>
                        <h3 class="product-name">BTdown铺</h3>
                        <div class="product-info-list-wrap">
                            <span class="data-describe">上传种子数</span>
                            <span class="data-data">0</span>
                        </div>
                        <div class="product-info-list-wrap">
                            <span class="data-describe">下载种子数</span>
                            <span class="data-data">0</span>
                        </div>
                        <div class="cut-line"></div>
                    </li>
                    <li>
                        <h3 class="product-name">拾货</h3>
                        <div class="product-info-list-wrap">
                            <span class="data-describe">上传种子数</span>
                            <span class="data-data">0</span>
                        </div>
                        <div class="product-info-list-wrap">
                            <span class="data-describe">下载种子数</span>
                            <span class="data-data">0</span>
                        </div>
                        <div class="cut-line"></div>
                    </li>
                    <li>
                        <h3 class="product-name">BTdown铺</h3>
                        <div class="product-info-list-wrap">
                            <span class="data-describe">上传种子数</span>
                            <span class="data-data">0</span>
                        </div>
                        <div class="product-info-list-wrap">
                            <span class="data-describe">下载种子数</span>
                            <span class="data-data">0</span>
                        </div>
                        <div class="cut-line"></div>
                    </li>
                </ul>
            </div>
            <div class="data-list">
                <h2 class="data-list-title">
                    <span class="data-list-icon"></span>
                    数据互动
                </h2>
                <ul id="score-wrap">
                    <li class="score-list">
                        <span class="product-name">总积分</span>
                        <span class="data-data">0</span>
                    </li>
                    <li class="score-list">
                        <span class="product-name">BBS积分</span>
                        <span class="data-data">0</span>
                    </li>
                    <li class="score-list">
                        <span class="product-name">BTdown铺积分</span>
                        <span class="data-data">0</span>
                    </li>
                    <li class="score-list">
                        <span class="product-name">重邮小帮手积分</span>
                        <span class="data-data">0</span>
                    </li>
                    <li class="score-list">
                        <span class="product-name">拾货积分</span>
                        <span class="data-data">0</span>
                    </li>
                    <li class="score-list">
                        <span class="product-name">云盘积分</span>
                        <span class="data-data">0</span>
                    </li>
                    <li class="score-list">
                        <span class="product-name">掌上重邮积分</span>
                        <span class="data-data">0</span>
                    </li>
                 </ul> 
            </div>
        </div>
        <div id="footer">
            <p>
                <a href="##" class="link">关于红岩网校</a> |
                <a href="##" class="link">开发团队</a> |
                <a href="##" class="link">指出错误</a> |
                <a href="{:U('Admin/Index/index')}" class="link">管理入口</a>
            </p>
            <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
            <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
        </div>
    </div>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript">
    // 数据互动版块
    ;(function(){
        var MAP = {
            'total'  : '总积分',
            'BBS'    : 'BBS积分',
            'BTdown' : 'BTdown铺积分',
            'cyxbs'  : '重邮小帮手积分',
            'jsns'   : '锦瑟南山',
            'market' : '拾货积分',
            'yunpan' : '云盘积分',
            'zscy'   : '掌上重邮积分'
        }
        $.post('{:U("Home/Index/returnData")}', 'dataType=getAllScore', function(res) {
            $('#score-wrap').children('.data-data').html(153453);
            var obj = res.byYear;
            var i = 0;
            for(var key in obj) {
                $('.score-list').eq(i++).children('.product-name').html(MAP[key]);
                $('.score-list').eq(i).children('.data-data').html(obj[key]);
            }
        });
    })();

    (function(){
        $.post('{:U("Home/Index/returnData")}', 'dataType=getSelfInfo', function(res) {
            var last_login_time = new Date((~~res.score_update_time)*1000);
            var timeArr = last_login_time.toString().split(' ');
            $('.data-data').eq(0).html(timeArr[3] + '/' + timeArr[1] + '/' + timeArr[2]);
        });
    }());
    // 登录产品次数那栏
    ;(function() {
        var MAP = {
            'zscy': '登录掌上重邮次数',
            'cyxbs': '登录小帮手次数',
            'hyzx': '登录会员中心次数',
        }
        $.post('{:U("Home/Index/returnData")}', 'dataType=logTime', function(res) {
            var $list = $('#user-data-show').find('li');
            var i = 1;
            for(var key in res) {
                $list.eq(i++).children('.data-describe').html(MAP[key]);
                $list.eq(i).children('.data-data').html(res[key]);
            }
        });
    }())
</script>
</body>
<!-- 潘微写的,先注释掉 -->
<script type="text/javascript">
/*$(function(){
    //我的账户展示
    $.post('{:U("Home/Index/info.last_login_time")}',function(res){
        $('#data-time').text(res);
        $('#score-wrap .data-data').eq(0).text(res);
    })

    $.post('{:U("Home/Index/info.weixin_visit_time")}',function(res){
        $('.data-data').eq(1).text(res);
    })

    $.post('{:U("Home/Index/info.score_month")}',function(res){
        $('.data-data').eq(2).text(res);
    })

    $.post('{:U("Home/Index/data")}',function(res){
        var res = res;
        var page_num = (parseInt(res.total)-6) / 9;

        res.data.forEach(function(item, index, arr){
            $('.data-list>ul').eq(0).append('<li>'+
                        '<span class="data-describe">'+'登录'+ item.pro_name +'次数'+'</span>'
                        +'<span class="data-data">'+ item.pro_num +'</span>'+
                    '</li>')
        })
    })


    //产品数据展示 
    $.post('{:U("Home/Index/data")}',function(res){
        var res = res;
        res.data.forEach(function(item, index, arr){
             $('#product-data-show>ul').append('<li>'+
                        '<h3 class="product-name">'+item.pro_name+'</h3>'
                        +'<div class="cut-line">'+'</div>'
                    +'</li>');

        })
        res.data.behavior.forEach(function(item,index,arr){
             $('#product-data-show>ul .product-name').append(
                '<div class="product-info-list-wrap">'
                        +    '<span class="data-describe">'+item.beh_title+'</span>'
                        +    '<span class="data-data">'+item.beh_num+'</span>'
                        +'</div>'
                        );
        })

    })

    //数据互动
    $.post('{:U("Home/Index/data")}',function(res){
        var res = res;
        res.data.forEach(function(item,index,arr){
            $('#score-wrap').append('<li class="score-list">'
                        +'<span class="product-name">'+item.pro_name+'</span>'
                        +'<span class="data-data">'+score+'</span>'
                    +'</li>')

        })
    })
        
})*/
</script>

</html>