<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/help-center.css">
    <link rel="stylesheet" href="__PUBLIC__/css/userNews.css"/>
    <title>帮助中心</title>
    <style type="text/css">
        #helper-list-wrap {
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="__PUBLIC__/img/logo.png" alt="logo" class="header-left-logo">
        </div>
        <div class="header-right">
                <a class="header-right-tips" href="{:U('Home/Index/userNews')}">
                    <img src="__PUBLIC__/img/helper.png" alt="tipImg">
                    <span id="user-message">您有0条新的消息~</span>
                </a>
            <div class="header-right-user">
                <div class="header-user-face">
                    <img id="user-header" src="__PUBLIC__/img/face.jpg" alt="face">
                </div>
                <span id="user-name">loading</span>
                <button class="header-user-show" type="button"></button>
                <ul class="header-user-detail">
                    <a href="{:U('Home/Index/userSettings')}">
                        <li class="header-user-select header-user-set">
                            账户设置
                            <span class="header-set-img"></span>
                        </li>
                    </a>
                    <a href="{:U('Home/Login/logout')}">
                        <li class="header-user-select header-user-out">
                            退出登录
                            <span class="header-out-img"></span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

    </div>
    <div class="content">
        <ul class="content-left">
            <a href="{:U('Home/Index/Index')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>用户中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/myProduct')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>我的产品</span>
                </li>
            </a>
            <a href="{:U('Home/Index/dataCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>数据查询</span>
                </li>
            </a>
            <a href="{:U('Home/Index/helpCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>帮助中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/prizes')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>领奖规则</span>
                </li>
            </a>
        </ul>
        <div id="helper-content">
            <h2 class="content-title">
                <span class="content-title-bar"></span>
                帮助中心
            </h2>
            <ul id="helper-list-wrap">
                
            </ul>
            <ol class="contain-pageG">
            </ol>
        </div>
        <div id="footer">
            <p>
                <a href="http://hongyan.cqupt.edu.cn/" class="link">关于红岩网校</a> |
                <a href="##" class="link">开发团队</a> |
                <a href="##" class="link">指出错误</a> |
                <a href="{:U('Admin/Index/index')}" class="link">管理入口</a>
            </p>
            <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
            <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
        </div>
    </div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/underscore.min.js"></script>
<script src="__PUBLIC__/js/Backbone-min.js"></script>

<script type="text/template" id="sub-page">
    <a href="<%= src %>" id="user-new-next-page">
        <li class="contain-page">
            <%= page %>
        </li>
    </a>
</script>
<script type="text/template" id="helper-item">
  <li class="help-list">
      <a href="##">
          <h3 class="helper-title" title="我是标题标题是我我是标题标题是我"><span class="helper-product-name">[<%= pro_name %>]</span><%= title %></h3>
          <div class="helper-content">
              <p ><%= content %></p>
          </div>
      </a>
  </li>
</script>
<script type="text/javascript">


var renderOneHelper = _.template($('#helper-item').html());

var renderSubPage= _.template($('#sub-page').html());


var renderHelpers = function(article) {
    var helpers = '';

    article.forEach(function(item,index) {
        item.content = item.content.replace(/&lt;/g, '<').replace(/&gt;/, '>');
        helpers += renderOneHelper(item);
    });
    $('#helper-list-wrap').html(helpers);
}

var subPageRouter = Backbone.Router.extend({
    routes: {
        'page/:id': 'toPage',
        'nextPage': 'toNextPage',
        'prevPage': 'toPrevPage'
    },
    initialize: function(page_num) {
            this.pageNum = page_num;
            $('.contain-pageG').append(renderSubPage({src: '#/prevPage', page: '<img src="__PUBLIC__/img/front.png" alt="上一页">'}));
            var page = '';
            for(var i = 1; i < page_num+1; i++) {
                page += renderSubPage({src: '#/page/'+i, page: i});
            }
            $('.contain-pageG').append(page);
            $('.contain-pageG').append(renderSubPage({src: '#/nextPage', page: '<img src="__PUBLIC__/img/next.png" alt="下一页">'}));
        },
    pageId: 1,
    toPage: function(index) {
        if(this.pageId === +index) {
            return
        }
        this.pageId = index;
        console.log('pageId',this.pageId);
        $.post('{:U("Home/Index/returnData")}', "dataType=getHelp"+'&page='+this.pageId, function(res) {
            renderHelpers(res.article);
        });
    },
    toNextPage: function() {
        this.pageId = ++this.pageId > this.pageNum ? --this.pageId : this.pageId;
        this.navigate("#/page/"+this.pageId, {trigger: true});
    },
    toPrevPage: function() {
        this.pageId = -- this.pageId < 1 ? ++this.pageId: this.pageId;
        this.navigate("#/page/"+this.pageId, {trigger: true});
    }

});


$.post('{:U("Home/Index/returnData")}', "dataType=getHelp&page=1", function(res){
    var page_num = ~~(res.total/6)+1;
    if(res.article === null) {
        return;
    }
    renderHelpers(res.article.slice(0,6));
    var  pageRouter = new subPageRouter(page_num);
    Backbone.history.start();
    pageRouter.navigate("#/page/1", {trigger: true, replace: true}); 
});

</script>
</html>



