<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/help-center.css">
    <title>帮助中心</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="__PUBLIC__/img/logo.png" alt="logo" class="header-left-logo">
        </div>
        <div class="header-right">
                <a class="header-right-tips" href="#">
                    <img src="__PUBLIC__/img/helper.png" alt="tipImg">
                    <span>重邮小帮手：您的账号有一条新的消息~</span>
                </a>
            <div class="header-right-user">
                <div class="header-user-face">
                    <img src="__PUBLIC__/img/face.jpg" alt="face">
                </div>
                <span>最多六个字啊</span>
                <button class="header-user-show" type="button"></button>
                <ul class="header-user-detail">
                    <a href="{:U('Home/Index/userSettings')}">
                        <li class="header-user-select header-user-set">
                            账户设置
                            <span class="header-set-img"></span>
                        </li>
                    </a>
                    <a href="{:U('Home/Login/logout')}">
                        <li class="header-user-select header-user-out">
                            退出登录
                            <span class="header-out-img"></span>
                        </li>
                    </a>
                </ul>
            </div>
        </div>

    </div>
    <div class="content">
        <ul class="content-left">
            <a href="{:U('Home/Index/Index')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>用户中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/myProduct')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>我的产品</span>
                </li>
            </a>
            <a href="{:U('Home/Index/dataCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>数据查询</span>
                </li>
            </a>
            <a href="{:U('Home/Index/helpCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>帮助中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/prizes')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>领奖规则</span>
                </li>
            </a>
        </ul>
        <div id="helper-content">
            <h2 class="content-title">
                <span class="content-title-bar"></span>
                帮助中心
            </h2>
            <ul id="helper-list-wrap">
                <!-- <li class="help-list">
                    <a href="">
                        <h3 class="helper-title" title="我是标题标题是我我是标题标题是我"><span class="helper-product-name">[掌上重邮]</span>我是标题标题是我我是标题标题是我</h3>
                        <div class="helper-content">
                        <img class="helper-img" src="__PUBLIC__/img/helper-img.png" alt="">

                            <p >BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资。</p>
                        </div>
                    </a>
                </li>
                <li class="help-list">
                    <a href="">
                        <h3 class="helper-title" title="我是标题标题是我我是标题标题是我"><span class="helper-product-name">[掌上重邮]</span>我是标题标题是我我是标题标题是我</h3>
                        <div class="helper-content">
                            <p >BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资。</p>
                        </div>
                    </a>
                </li>
                <li class="help-list">
                    <a href="">
                        <h3 class="helper-title" title="我是标题标题是我我是标题标题是我"><span class="helper-product-name">[掌上重邮]</span>我是标题标题是我我是标题标题是我</h3>
                        <div class="helper-content">
                        <img class="helper-img" src="__PUBLIC__/img/helper-img.png" alt="">

                            <p >BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资。</p>
                        </div>
                    </a>
                </li>
                <li class="help-list">
                    <a href="">
                        <h3 class="helper-title" title="我是标题标题是我我是标题标题是我"><span class="helper-product-name">[掌上重邮]</span>我是标题标题是我我是标题标题是我</h3>
                        <div class="helper-content">
                            <p >BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资。</p>
                        </div>
                    </a>
                </li>
                <li class="help-list">
                    <a href="">
                        <h3 class="helper-title" title="我是标题标题是我我是标题标题是我"><span class="helper-product-name">[掌上重邮]</span>我是标题标题是我我是标题标题是我</h3>
                        <div class="helper-content">
                        <img class="helper-img" src="__PUBLIC__/img/helper-img.png" alt="">

                            <p >BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资。</p>
                        </div>
                    </a>
                </li>
                <li class="help-list">
                    <a href="">
                        <h3 class="helper-title" title="我是标题标题是我我是标题标题是我"><span class="helper-product-name">[掌上重邮]</span>我是标题标题是我我是标题标题是我</h3>
                        <div class="helper-content">
                            <p >BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdown铺资源更新下载资。</p>
                        </div>
                    </a>
                </li>
                 -->
                
            </ul>
            <ol class="contain-pageG">
                <a href="#">
                    <li class="contain-page">
                        <img src="../public/img/front.png" alt="上一页">
                    </li>
                </a>


                <a class="page-sub" href="#">
                    <li class="contain-page">1</li>
                </a>
                
                <a href="#" id="user-new-next-page">
                    <li class="contain-page">
                        <img src="../public/img/next.png" alt="下一页">
                    </li>
                </a>
            </ol>
        </div>
        <div id="footer">
            <p>
                <a href="http://hongyan.cqupt.edu.cn/" class="link">关于红岩网校</a> |
                <a href="##" class="link">开发团队</a> |
                <a href="##" class="link">指出错误</a> |
                <a href="{:U('Admin/Index/index')}" class="link">管理入口</a>
            </p>
            <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
            <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
        </div>
    </div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript">
    $.post('{:U("Home/Index/returnData")}', "dataType=getHelp&page=" + 1, function(res){
        // console.log('test');
        var res = res;
        console.log(res);
        var page_num = parseInt(res.total) / 6;
        var $page_sub_fragment = $('.page-sub').eq(0);
        var $next_page_fragment = $('#user-new-next-page');

        $next_page_fragment.remove();
        for(var i = 0; i < page_num; i ++) {
            $page_sub_fragment.find(i).text(i+1);
            $('.contain-pageG').append($page_sub_fragment);
        }

        // res.article.forEach(function(item,index,arr){
        //     $('#helper-list-wrap').append('<li class="help-list">'
        //             +'<a href="">'
        //                 +'<h3 class="helper-title"+ title="我是标题">' 
        //             + '<span class="helper-product-name">['+  item.pro_name  +']</span>'+ item.title +'</h3>'
        //             +'<div class="helper-content">'
        //             +'<img class="helper-img" src="../public/img/helper-img.png" alt="">'
        //             +'<p >'+ item.content +'</p>'
        //             +       '</div>'
        //             +   '</a>'
        //             +'</li>');
        // })

    });
</script>
</html>