
<!--
<form action="./changeInfo.html" enctype="multipart/form-data" method="post" >
    店铺:<input type="text" name="myshop" />
    签名:<input type="text" name="mysign" />
    网名:<input type="text" name="nickname" />
    <input type="file" name="photo" />
    <input type="submit" value="提交" >
</form>

-->


<form action="./changePass.html" enctype="multipart/form-data" method="post" >
    老密码:<input type="text" name="old_pass" />
    新密码:<input type="text" name="new_pass" />
    确认:<input type="text" name="conf_pass" />
    <input type="submit" value="提交" >
</form>
