<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/userCenter.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userNews.css">
    <title>会员中心</title>
    <style type="text/css">
        .new-text p{
            margin: 0;
        }
        #msg-content-wrap {
            width: 745px;
            padding: 5px 0;
        }
        .content-contain p{
            margin: 0;
            font-size: 12px;
            font-family: SimSun, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
            color: #666666;
            text-indent: 2em;
            line-height: 21px;
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="header-left">
        <img src="__PUBLIC__/img/logo.png" alt="logo" class="header-left-logo">
    </div>
    <div class="header-right">
        <a class="header-right-tips" href="{:U('Home/Index/userNews')}">
            <img src="__PUBLIC__/img/helper.png" alt="tipImg">
            <span id="user-message">重邮小帮手：您的账号有一条新的消息~</span>
        </a>
        <div class="header-right-user">
            <div class="header-user-face">
                <img id="user-header" src="__PUBLIC__/img/face.jpg" alt="face">
            </div>
            <span id="user-name">loading</span>
            <button class="header-user-show" type="button"></button>
            <ul class="header-user-detail">
                <a href="{:U('Home/Index/userSettings')}">
                    <li class="header-user-select header-user-set">
                        账户设置
                        <span class="header-set-img"></span>
                    </li>
                </a>
                <a href="{:U('Home/Login/logout')}">
                    <li class="header-user-select header-user-out">
                        退出登录
                        <span class="header-out-img"></span>
                    </li>
                </a>

            </ul>
        </div>
    </div>
</div>
<div class="content">
    <ul class="content-left">
        <a href="{:U('Home/Index/Index')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>用户中心</span>
            </li>
        </a>
        <a href="{:U('Home/Index/myProduct')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>我的产品</span>
            </li>
        </a>
        <a href="{:U('Home/Index/dataCenter')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>数据查询</span>
            </li>
        </a>
        <a href="{:U('Home/Index/HelpCenter')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>帮助中心</span>
            </li>
        </a>
        <a href="{:U('Home/Index/prizes')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>领奖规则</span>
            </li>
        </a>
    </ul>
    <div class="content-right">
        <div class="content-linkG">
            <a href="{:U('Home/Index/helpCenter')}">
                <div class="content-link content-link-help">
                    <img src="__PUBLIC__/img/help.png" alt="新的帮助">
                    <div class="content-link-detail">
                        <span>新的帮助</span>
                        <em id="new-helper">0</em>
                    </div>

                </div>
            </a>
            <a href="{:U('Home/Index/myProduct')}">
                <div class="content-link content-link-project">
                    <img src="__PUBLIC__/img/project.png" alt="新的帮助">
                    <div class="content-link-detail">
                        <span>产品数量</span>
                        <em id="product-num">0</em>
                    </div>

                </div>
            </a>
            <a href="{:U('Home/Index/dataCenter')}">
                <div class="content-link content-link-score">
                    <img src="__PUBLIC__/img/score.png" alt="新的帮助">
                    <div class="content-link-detail">
                        <span>我的积分</span>
                        <em id="my-score">0</em>
                    </div>

                </div>
            </a>
        </div>


        <h2 class="content-title">
            <div class="content-title-bar"></div>
            我的消息
        </h2>
        <div  id="msg-content-wrap" class="content-contain">
            <ul class="contain-newG">
            </ul>
            <ol class="contain-pageG">
            </ol>
        </div>
    </div>
    <div class="content-right" style="display: none">
        
    </div>
    <div id="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/" class="link">关于红岩网校</a> |
            <a href="##" class="link">开发团队</a> |
            <a href="##" class="link">指出错误</a> |
            <a href="{:U('Admin/Index/index')}" class="link">管理入口</a>
        </p>
        <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
        <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
    </div>
</div>
</body>

<script id="look-msg" type="text/template" >
    <h2 class="content-title">
        <div class="content-title-bar"></div>
        我的消息
    </h2>
    <div class="content-contain">
        <h3 class="contain-title"><%= title %>
            <span><%= time %></span>
            <span style="display: none" class="contain-title-from">发布人：loading</span>
        </h3>
        <%= content %>
    </div>
</script>

<script type="text/template" id="msgTemplate">
    <a class="msg-item" href="##">
        <li class="contain-new">
            <img class="pro_img" src="/redcenter/RedCenter/Home/Public/img/<%= pro_id %>.png" alt="图标">
            <div class="contain-new-detail">
                <h3>[<%= pro_name %>]<%= title %><span class="new-unread" id="unread-label" style="display:none">未读</span></h3>
                <span class="new-time"><%= time %><img src="/redcenter/RedCenter/Home/Public/img/time.png" alt="时间"></span>
                <p class="new-text"><%= content %></p>
            </div>
        </li>
    </a>
</script>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/underscore.min.js"></script>
<script src="__PUBLIC__/js/backbone-min.js"></script>
<script >
    // 初始化页面, h获取帮助数量,产品数量,和个人积分
    (function initPage() {

        $.post('{:U("Home/Index/returnData")}', 'dataType=newHelpNum',function(res) {
            var res = JSON.parse(res);
            $('#new-helper').text(res);
        });

        $.post('{:U("Home/Index/returnData")}', 'dataType=linkNum',function(res) {
            $('#product-num').text(res);
        });


        $.post('{:U("Home/Index/returnData")}', 'dataType=getSelfInfo',function(res) {
            var res = res;
            $('#my-score').text(res.score);
        }); 
    }());

;(function(){


// 渲染单条消息,返回dom片段
function renderOneArticle(item, index) {
    var content = (item.content).replace(/&lt;/g, '<').replace(/&gt;/g,'>');
    var $msg = $($('#msgTemplate').html())[0];
    $msg.href = '#/msg/'+index;
    $msg.querySelector('.pro_img').setAttribute('src', '__PUBLIC__/img/'+item.pro_id+'.png');
    $msg.querySelector('h3').innerHTML = '[' + item.pro_name + ']' + item.title +'<span class="new-unread" id="unread-label" style="display:none">未读</span>';
    $msg.querySelector('.new-time').innerHTML = item.time + '<img src="__PUBLIC__/img/time.png" alt="时间">';
    $msg.querySelector('.new-text').innerHTML = content;
    return $msg;
}
    

    

var renderSubPage = _.template( '<a href="<%= src %>">'+
                                    '<li class="contain-page">'+
                                        '<%= page %>'+
                                    '</li>'+
                                '</a>');




// 路由 分页
var PageRouter = Backbone.Router.extend({
        routes: {
            'page/:id': 'toPage',
            'nextPage': 'toNextPage',
            'prevPage': 'toPrevPage'
        },
        initialize: function(page_num) {
            this.pageNum = page_num;
            $('.contain-pageG').append(renderSubPage({src: '#/prevPage', page: '<img src="__PUBLIC__/img/front.png" alt="上一页">'}));
            var page = '';
            for(var i = 1; i < page_num+1; i++) {
                page += renderSubPage({src: '#/page/'+i, page: i});
            }
            $('.contain-pageG').append(page);
            $('.contain-pageG').append(renderSubPage({src: '#/nextPage', page: '<img src="__PUBLIC__/img/next.png" alt="下一页">'}));
        },
        pageId: 1,
        toPage: function(index) {
            $('.content-right').eq(1).hide();
            $('.content-right').eq(0).show();
            this.pageId = index;
            $.post('{:U("Home/Index/returnData")}', 'dataType=getNew&page='+this.pageId, function(res) {
                if(res.article === null) return;
                renderNewPage(res.article);
            });
        },
        toNextPage: function() {
            this.pageId = ++this.pageId > this.pageNum-1 ? --this.pageId : this.pageId;
            this.navigate("#/page/"+this.pageId, {trigger: true});
        },
        toPrevPage: function() {
            this.pageId = -- this.pageId < 1 ? ++this.pageId: this.pageId;
            this.navigate("#/page/"+this.pageId, {trigger: true});
        }
    });

    function renderNewPage(articles) {
        $('.contain-newG').html('');
        articles.forEach(function(item, index) {
            var $msg = renderOneArticle(item,index);
            $('.contain-newG').append($msg);
        });
    }

    // 获取文章
    $.post('{:U("Home/Index/returnData")}', 'dataType=getNew', function(res) {
        var page_num = ~~(res.total/5)+1;
        if(res.article === null) {
            return;
        }
        renderNewPage(res.article);
        var  pageRouter = new PageRouter(page_num);

        Backbone.history.start();
        pageRouter.navigate("#/page/1", {trigger: true, replace: true});

    });
}());
var template = $('#look-msg').html();
renderMsgLook = _.template(template);

$('.contain-newG').delegate('.msg-item', 'click', function(e) {
    var title = $(this).find('h3').html();
    var content = $(this).find('.new-text').html();
    var time = $(this).find('.new-time').html();
    $('.content-right').eq(0).hide();
    $('.content-right').eq(1).show();
    $('.content-right').eq(1).html(renderMsgLook({title: title, content: content, time: time}));

});

</script>
</html>