<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/user-settings.css"/>
    <title>会员中心</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="__PUBLIC__/img/logo.png" alt="logo" class="header-left-logo">
        </div>
        <div class="header-right">
                <a class="header-right-tips" href="{:U('Home/Index/userNews')}">
                    <img src="__PUBLIC__/img/helper.png" alt="tipImg">
                    <span>重邮小帮手：您的账号有一条新的消息~</span>
                </a>
            <div class="header-right-user">
                <div class="header-user-face">
                    <img id="user-header" src="__PUBLIC__/img/face.jpg" alt="face">
                </div>
                <span id="user-name">loading</span>
                <button class="header-user-show" type="button"></button>
                <ul class="header-user-detail">
                    <a href="{:U('Home/Index/userSettings')}">
                        <li class="header-user-select header-user-set">
                            账户设置
                            <span class="header-set-img"></span>
                        </li>
                    </a>
                    <a href="{:U('Home/Login/logout')}">
                        <li class="header-user-select header-user-out">
                            退出登录
                            <span class="header-out-img"></span>
                        </li>
                    </a>

                </ul>
            </div>
        </div>

    </div>
    <div class="content">
        <ul class="content-left">
            <a href="{:U('Home/Index/Index')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>用户中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/myProduct')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>我的产品</span>
                </li>
            </a>
            <a href="{:U('Home/Index/dataCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>数据查询</span>
                </li>
            </a>
            <a href="{:U('Home/Index/helpCenter')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>帮助中心</span>
                </li>
            </a>
            <a href="{:U('Home/Index/prizes')}">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>领奖规则</span>
                </li>
            </a>
        </ul>
        <div id="user-settings-content">
           <h2 id="user-settings-title">
               <div class="user-settings-title-bar"></div>
               账户设置
           </h2>
           <ul class="set-list">
                <a href="#">
                    <li class="set-title set-title-show" id="basic-title">基本信息</li>
                    <li class="set-title-underline"></li>
                </a>
                <div class="set-title-onepx"></div>
                <a href="#">
                    <li class="set-title">安全信息</li>
                </a> 
            </ul>
            <div class="set-info set-show">

                <form class="basic-info" name="changeInfo" enctype="multipart/form-data" >
                   <table>
                        <tr class="basic-face">
                           <td class="basic-face-bar">头&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;像</td>
                           <td class="basic-face-info">
                            <div class="face">
                                <img src="__PUBLIC__/img/basic-face.png" alt="basic-face-pic" >
                                <label class="basic-face-hover" for="upload-image">点击上传</label>>
                                <input style="display: none" type="file" id="upload-image"  name="photo" ></input>
                           </td>
                        </tr>
                        <tr class="basic">
                           <td class="basic-bar" >昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称</td>
                           <td class="basic-massage"> 
                            <input type="text" name="nickname" placeholder="loading" >
                            </td>
                        </tr>
                        <tr class="basic">
                            <td class="basic-bar">我的店铺</td>
                            <td class ="basic-massage">
                                <input type="text" name="myshop" placeholder="小铺纸" >
                            </td>
                        </tr>
                        <tr>
                            <td class="basic-bar">个性签名</td>
                            <td class ="basic-massage">
                                <input type="text" name="mysign" placeholder="我不做大哥好多年!!" >
                            </td>
                        </tr>
                   </table>
                    <input type="submit" class="set-btn basic-btn" value="确定修改">
                </form>
                <!--<button class="set-btn basic-btn">确定修改</button>-->
            </div>
            <div class="set-info ">
                <form class="safe-info " name="changePass">
                    <table>
                        <tr>
                            <td class = "safe-title">
                                修改密码:
                            </td>
                        </tr>
                        <tr>
                            <td class="safe-input">
                                <input type="password"  name="old_pass" class="input-password" placeholder="请输入原始密码">
                            </td>
                        </tr>
                        <tr>
                           <td class="safe-input">
                               <input type="password" name="new_pass" class="input-password" placeholder="输入新密码">
                           </td>
                        </tr>
                        <tr>
                            <td class="safe-input">
                                 <input type="password" name="conf_pass" class="input-password" placeholder="再次输入新密码">
                            </td>
                        </tr>
                    </table>
                </form>
                <div class="div"></div>
                <button class="set-btn safe-btn">确定修改</button>
            </div>
       </div>
        <div id="footer">
            <p>
                <a href="http://hongyan.cqupt.edu.cn/" class="link">关于红岩网校</a> |
                <a href="##" class="link">开发团队</a> |
                <a href="##" class="link">指出错误</a> |
                <a href="{:U('Admin/Index/index')}" class="link">管理入口</a>
            </p>
            <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
            <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
        </div>
    </div>
   
</body>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/user-settings2.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
$(function(){
    var input_password = $('.input-password'),
        input_massage = $('.basic .basic-massage input'),
        face_pic = $('.face img');

     // 交互     
     //初始数据
    $.post("{:U('Home/Index/returnData')}",'dataType=basicInfo',function(res){
        var res = res;
        input_massage.eq(0).val(res.nickname)
        input_massage.eq(1).val(res.myshop) 
        input_massage.eq(2).val(res.mysign)
        face_pic.attr('src','__PUBLIC__/' + res.hedimg);
    })

    //上传头像
    $('#upload-image').change(function(){
        $('.set-info span').remove();
        window.URL = window.URL || window.webkitURL ; 
        if(window.URL){
            var img = document.getElementById("upload-image") ;
            var face = window.URL.createObjectURL(img.files[0]) ;
            var path = $("#upload-image").val() ;
            var format = path.substring(path.lastIndexOf(".") + 1).toLowerCase() ;
            var canCrop = false ;
            // var data = new FormData();
            // data.append('file', $('#upload-image')[0].files[0]);
            // console.log(data);
            switch(format){
                case "jpg" :
                case "gif" :
                case "png" :
                case "jpeg" : {
                    canCrop = true ;
                    break ;    
                }default : {
                    face = "__PUBLIC__/img/error.png" ;
                    $('.face').after('<span class="add" >&nbsp;&nbsp;&nbsp;请上传jpg,png,gif,jpeg格式的图片!</sapn>');
                }
            }
            $(".face img").attr("src",face); 
        }
    })


   //修改基本资料
   // $('.basic-btn').click(function(){
   //      $('.set-info span').remove();
   //      if( input_massage.eq(0).val()==' '){
   //      $(this).after('<span class ="add" >&nbsp;&nbsp;&nbsp;昵称不能为空!</sapn>');
   //      return false;
   //     }else{
   //          var name = input_massage.eq(0).val(),
   //              shop = input_massage.eq(1).val(),
   //              sign = input_massage.eq(2).val();
   //              // window.URL = window.URL || window.webkitURL ; 
   //              // if(window.URL){
   //              //     var img = document.getElementById("upload-image") ,
   //              //         face = window.URL.createObjectURL(img.files[0]) ;
   //              // }
   //           //    var face = new FormData();
   //           //    $.each($('#upload-image')[0].files, function(i, file) {
   //           //     face.append('upload-image', '#upload-image')[0].files);
   //           // });
   //              // myface = 
   //          $.post("{:U('Home/Index/returnData')}",  { dataType:'changeInfo', nickname:name,myshop:shop,mysign:sign}, function(res){
   //              if(res==true){
   //                  $('.basic-btn').after('<span style ="color:green;" class="add" >&nbsp;&nbsp;&nbsp;提交成功哦!</sapn>');
   //              }else{
   //                  $('.basic-btn').after('<span class="add" >&nbsp;&nbsp;&nbsp;提交失败!</sapn>')
   //              }
            
   //      })
   //          // var data = new FormData();
   //          // $.ajax({=
   //          //             url:"{:U('Home/Index/returnData')}",
   //          //             type:'POST',
   //          //             data:{dataType:'changeInfo'},
   //          //             cache: false,
   //          //             contentType: false,
   //          //             processData: false,
   //          //             success:function(data){
   //          //             // $(".face img").attr("src",face);  
   //          //             console.log(data);
   //          //             }
   //          //             })

   //    }      
   // })

    //长传头像传文件,要multipart/form-data
    //采用form默认的提交行为
    var haspost = 0;
    $('.basic-btn').click(function(){
        if(haspost == 0){
            haspost = 1;
            $('.basic-btn').after('<span style ="color:green;" class="add" >&nbsp;&nbsp;&nbsp;提交成功哦!</sapn>');
        }
    })
   //修改基本资料
//   $('.basic-btn').click(function(){
//        $('.set-info span').remove();
//        if( input_massage.eq(0).val()==' '){
//        $(this).after('<span class ="add" >&nbsp;&nbsp;&nbsp;昵称不能为空!</sapn>');
//        return false;
//       }else{
//
//            $.post("{:U('Home/Index/returnData')}", 'dataType=changeInfo&' + $('.basic-info').serialize(), function(res){
//            $('.basic-btn').after('<span style ="color:green;" class="add" >&nbsp;&nbsp;&nbsp;提交成功哦!</sapn>');
//        })
//      }
//   })


   // //验证密码是否正确
   //  input_password.eq(0).blur(function(){
   //      console.log( input_password.eq(0).val());
   //      $('.set-info  p').remove();
   //      $.post("{:U('Home/Index/returnData')}"),'dataType=changePass&', function(res){
   //          console.log("old_pass"+res);
   //          if(input_password.eq(0).val() != res.old_pass){
   //               input_password.eq(0).after('<p class="add" >密码错误!</p>');
   //              }
   //      }    
   //  })


    //修改密码
    $('.safe-btn').click(function(){
        var i=0;
        $('.safe-info input').map(function(){
            var a = $(this).val();
    
            if(a===''){
                i++;
            }
        })
        $('.set-info span').remove();     
        if( i != 0){
            $(this).after('<span class="add" >&nbsp;&nbsp;&nbsp;请输入完整信息哦!</sapn>');
         }else{
            // var old_pass = input_password.eq(0).val(),
            //     new_pass = input_password.eq(1).val(),
            //     conf_pass =input_password.eq(2).val();
            // console.log(old_pass);
             // {dataType:'changePass',old_pass:old_pass,new_pass:new_pass,conf_pass:conf_pass}
            $.post("{:U('Home/Index/returnData')}",'dataType=changePass&' + $('.safe-info').serialize() ,function(res){
                if(res == true){
                    $('.safe-btn').after('<span style="color:green;" class="add" >&nbsp;&nbsp;&nbsp;密码修改成功!</sapn>');
                }else{
                    $('.safe-btn').after('<span class="add" >&nbsp;&nbsp;&nbsp;密码修改失败!</sapn>');
                }
            })
        }
    })
   
});

</script>
</html>
