<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" href="__PUBLIC__/css/userNews.css"/>
    <title>会员中心</title>
</head>
<body>
<div class="header">
    <div class="header-left">
        <img src="__PUBLIC__/img/logo.png" alt="logo" class="header-left-logo">
    </div>
    <div class="header-right">
        <a class="header-right-tips" href="{:U('Home/Index/userNews')}">
            <img src="__PUBLIC__/img/helper.png" alt="tipImg">
            <span>重邮小帮手：您的账号有一条新的消息~</span>
        </a>
        <div class="header-right-user">
            <div class="header-user-face">
                <img src="__PUBLIC__/img/face.jpg" alt="face">
            </div>
            <span>loading</span>
            <button class="header-user-show" type="button"></button>
            <ul class="header-user-detail">
                <a href="{:U('Home/Index/userSettings')}">
                    <li class="header-user-select header-user-set">
                        账户设置
                        <span class="header-set-img"></span>
                    </li>
                </a>
                <a href="{:U('Home/Login/logout')}">
                    <li class="header-user-select header-user-out">
                        退出登录
                        <span class="header-out-img"></span>
                    </li>
                </a>

            </ul>
        </div>
    </div>

</div>
<div class="content">
    <ul class="content-left">
        <a href="{:U('Home/Index/Index')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>用户中心</span>
            </li>
        </a>
        <a href="{:U('Home/Index/myProduct')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>我的产品</span>
            </li>
        </a>
        <a href="{:U('Home/Index/dataCenter')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>数据查询</span>
            </li>
        </a>
        <a href="{:U('Home/Index/helpCenter')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>帮助中心</span>
            </li>
        </a>
        <a href="{:U('Home/Index/prizes')}">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>领奖规则</span>
            </li>
        </a>
    </ul>
    <div class="content-right">
        <h2 class="content-title">
            <div class="content-title-bar"></div>
            消息
        </h2>
        <div class="content-contain">
            <h3 class="contain-title">BTdown铺资源更新资源下载啦
                <span>2015/12/19</span>
                <span class="contain-title-from">发布人：loading</span>
            </h3>
            <img src="__PUBLIC__/img/news.jpg" alt="附图" class="contain-img">
            <p class="contain-text">BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdn铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源。BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdn铺资源更新下载资源更新下载资源快去下载种子免费资源，</p>
            <p class="contain-text">BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdn铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源。BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdon铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdo铺资源更新下载资源更新下载资源快去下载种子免费资源，BTdn铺资源更新下载资源更新下载资源快去下载种子免费资源，</p>

        </div>
    </div>


    <div id="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/" class="link">关于红岩网校</a> |
            <a href="##" class="link">开发团队</a> |
            <a href="##" class="link">指出错误</a> |
            <a href="{:U('Admin/Index/Index')}" class="link">管理入口</a>
        </p>
        <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
        <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
    </div>
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</html>
