<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <title>教师注册</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                教师注册
            </a>
        </div>
    </div>
</nav><div class="container-fluid">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6 col-md-offset-1">

            <form action="{:U('TeacherRegister/register')}" method="post">
                <div class="row text-center h2">
                    <div class="col-md-3"></div>
                    <div class="col-md-5">会员中心教师注册</div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-center h4">一卡通:</div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" required placeholder="一卡通账号" name="username">
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-center h4">密码:</div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="password" class="form-control" required placeholder="密码" name="password">
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-center h4">确认密码:</div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="password" class="form-control" required placeholder="确认密码" name="password_verify">
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-2 text-center h4">昵称:</div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" required placeholder="输入昵称" name="nickname">
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 text-center h4">教师邮箱:</div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control" required placeholder="Email" aria-describedby="basic-addon2" name="email">
                                        <span class="input-group-addon" id="basic-addon2">@cqupt.edu.cn</span>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="{$csrf_token}" name="csrf_token">

                <div class="row text-center">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">注册</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>