<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RedCenter</title>
	<link rel="stylesheet" href="__PUBLIC__/css_phone/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css_phone/RedCenter.css">
	<script src="__PUBLIC__/js_phone/flexible.js"></script>
</head>
<body> 
	<div id="info-wrap" class="full-width">
		<div id="info" class="auto-center">
			<div id="head" class="float-left">
				<img src="__PUBLIC__/{$headImage}" alt="head-image">
			</div>
			<div id="stu-info" class="float-left">
				<h2 id="stu-name">{$info.real_name}<span class="bolder">{$info.level}</span></h2>
				<p id="stu-id" class="color-c9  bolder">{$info.stu_num}</p>
			</div>
		</div>
	</div>
	<div id="score-wrap">
		<ul class="full-width auto-center">
			<li id="month-score" class="border-btm-1">
				<p class="score float-left">
					<span>当月积分:</span>
					<span class="value-score float-right">{$info.score_month}分</span>
				</p>
				<p class="score float-right">
					<span class="rank-score">当月排名:</span>
					<span class="float-right">
						{$info.month_rank}
						<img src="__PUBLIC__/img_phone/{$rankchange.month_src}" alt="上升">
					</span>
				</p>
			</li>
			<li id="year-score"  class="clear">
				<p class="score float-left">
					<span>年度积分:</span>
					<span class="value-score float-right">{$info.score}分</span>
				</p>
				<p class="score float-right">
					<span class="rank-score">年度排名:</span>
					<span class=" float-right">
						{$info.year_rank}
						<img src="__PUBLIC__/img_phone/{$rankchange.year_src}" alt="下降">
					</span>
				</p>
			</li>
		</ul>
	</div>
	<div id="exchange-btn-wrap" class="full-width">
		<a href="{:U('Home/Phone/integral_rule')}" id="exchange-btn" class="page-width auto-center">积分兑换规则详情</a>
	</div>

	<div id="select-product-wrap" class="full-width">
		<ul>
			<li class="product-list">
				<img src="__PUBLIC__/img_phone/zscy.png" class="float-left product-icon" alt="BTdown">
				<p class="border-btm-1 product-name">	
					重邮小帮手微信端
					<span class="float-right">{$all_scores.byMonth.cyxbs}分</span>
				</p>
			</li>
			<li class="product-list">
				<img src="__PUBLIC__/img_phone/btdown.png" class="float-left product-icon" alt="BTdown">
				<p class="border-btm-1 product-name">	
					BTdown
					<span class="float-right">{$all_scores.byMonth.BTdown}分</span>
				</p>
			</li>
			<li class="product-list">
				<img src="__PUBLIC__/img_phone/shihuo.png" class="float-left product-icon" alt="BTdown">
				<p class="product-name">	
					拾货
					<span class="float-right">{$all_scores['byMonth']['market']}分</span>
				</p>
			</li>
		</ul>		
	</div>
	<div id="integral-list-wrap">
		<div id="tille-integral-list" class="full-width border-btm-1">
			<span class="bold">当月积分排行</span>
		</div>
		<ul id="integral-list" class="border-btm-1">
			<foreach name='rankList_month' item='data'>
				<li class="border-btm-1">
					<span class="first">{$data.num}</span>
					<p>{$data.real_name}</p>
				</li>
			</foreach>
			<!-- <li class="border-btm-1">
				<span class="second">2</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span class="third">3</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span>4</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span>5</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span>6</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span>7</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span>8</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span>9</span>
				<p>冯秋明</p>
			</li>
			<li class="border-btm-1">
				<span>10</span>
				<p>冯秋明</p>
			</li> -->
		</ul>
	</div>
<script src="__PUBLIC__/js_phone/redcenter.js"></script>
</body>
</html>