<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RedCenter</title>
	<link rel="stylesheet" href="__PUBLIC__/css_phone/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css_phone/RedCenter-explain.css">
	<script src="__PUBLIC__/js_phone/flexible.js"></script>
</head>
<body>
	<div id="container-explain" class="page-width auto-center">	
		<h1>会员中心“月积分新计划”规则</h1>
		<h2>什么是月积分新计划？</h2>
		<p>
			答：会员中心“月积分新计划”是红岩网校工作站为答谢广大用户长期支持与厚爱而推出的一项用户回馈服务。会员中心将根据您当前一个月时间使用相关可奖励积分的网校产品，进行一定的用户行为奖励积分累计，我们将对积分累计做出一套用户积分排行，累计积分越多、排名越靠前者可以通过会员中心兑换丰富多样的礼品。
		</p>
		<h2>如何参加月积分新计划呢？</h2>
		<p>
			答：只2015年12月起，红岩网校工作站会员中心积分计划全新升级，只要您是红岩网校工作站的用户，并且关注重邮小帮手，就可参与红岩网校工作站会员中心月积分新计划。
		</p>
		<h2>“月积分”是怎么累积的？</h2>
		<p>
			答： 由于部分产品积分系统正在升级开发，暂且只开放重邮小帮手和掌上重邮产品用户行为积分奖励。详细积分奖励规则如下
			<table class="full-width prize">
				<tr>
					<td class="col-1">用户行为</td>
					<td class="col-2">积分</td>
					<td class="col-3">备注</td>
				</tr>
				<tr>
					<td class="col-1">关注微信号</td>
					<td class="col-2">+5</td>
					<td class="col-3"></td>
				</tr>
				<tr>
					<td class="col-1">取消关注微信号</td>
					<td class="col-2">-10</td>
					<td class="col-3"></td>
				</tr>
				<tr>
					<td class="col-1">教务查询（包括课表查询、成绩查询、考试查询、教务讯息、空教室查询、电费查询、报修系统）</td>
					<td class="col-2">+1</td>
					<td class="col-3">使用一项查询功能加1分，每天积分上限5分</td>
				</tr>
				<tr>
					<td class="col-1">线上互动（重邮点歌台，重邮缘，印象墙，弹幕）</td>
					<td class="col-2">+1</td>
					<td class="col-3">使用一项功能加1分，每天积分上限3分</td>
				</tr>
				<tr>
					<td class="col-1">微信游戏</td>
					<td class="col-2">+1</td>
					<td class="col-3">玩一个游戏加1分，每天积分上限3分</td>
				</tr>
				<tr>
					<td class="col-1">参与投票</td>
					<td class="col-2">+2</td>
					<td class="col-3">仅每次投票的第一次有积分奖励</td>
				</tr>
				<tr>
					<td class="col-1">参与调研</td>
					<td class="col-2">+2</td>
					<td class="col-3">仅每次调研的第一次有积分奖励</td>
				</tr>
				<tr>
					<td class="col-1">参与考试</td>
					<td class="col-2">+2</td>
					<td class="col-3">仅每次考试的第一次有积分奖励</td>
				</tr>
				<tr>
					<td class="col-1">参与测试</td>
					<td class="col-2">+2</td>
					<td class="col-3">仅每次测试的第一次有积分奖励</td>
				</tr>
				<tr>
					<td class="col-1">填写通用表单</td>
					<td class="col-2">+2</td>
					<td class="col-3">仅每次填写的第一次有积分奖励</td>
				</tr>
				<tr>
					<td class="col-1">访问微网站</td>
					<td class="col-2">+2</td>
					<td class="col-3">每天积分上限2分</td>
				</tr>
				<tr>
					<td class="col-1">微信聊天</td>
					<td class="col-2">+1</td>
					<td class="col-3">一条信息加1分，每天积分上限3分</td>
				</tr>
				<tr>
					<td class="col-1">第一次登陆掌上重邮</td>
					<td class="col-2">+5</td>
					<td class="col-3"></td>
				</tr>
				<tr>
					<td class="col-1">当天第一次打开掌上重邮</td>
					<td class="col-2">+1</td>
					<td class="col-3"></td>
				</tr>
				<tr>
					<td class="col-1">使用查课表功能</td>
					<td class="col-2">+1</td>
					<td class="col-3">每天仅一次</td>
				</tr>
				<tr>
					<td class="col-1">使用查询功能（包括空教室、成绩、考试安排、补考安排）</td>
					<td class="col-2">+1</td>
					<td class="col-3">每个功能每天仅加分一次</td>
				</tr>
				<tr>
					<td class="col-1">查看咨询里任一条讯息</td>
					<td class="col-2">+1</td>
					<td class="col-3">积分上限3分</td>
				</tr>
				<tr>
					<td class="col-1">点击发现里任一个功能</td>
					<td class="col-2">+1</td>
					<td class="col-3">每天仅一次</td>
				</tr>
			</table>
		</p>
		<h2>“月积分”有什么用？会清零吗？</h2>
		<p>
			答：会员中心的“月积分”根据用户每个月使用网校产品情况，进行用户行为积分奖励。会员中心会根据用户您月初第一天开始统计积分，到月末显示用户您一个月使用产品累计总积分情况，当月积分在会员中心月排行榜前十名用户可获得精美礼品。
		</p>
		<p>
			月积分会在当月最后一天24点以1：1的比例转化为年度积分（月积分转化后会清零），下月月积分排行情况将会根据下月的用户积分情况重新统计。年度积分暂时仅作排行，若后续开放年度积分奖励会通过重邮小帮手或红岩主页君推送。
		</p>
		<p>
			由于部分产品积分系统正在升级开发，暂且只开放重邮小帮手和掌上重邮用户行为积分奖励，后续会持续开放。
		</p>
		<h2>如何领取积分兑换的礼品？</h2>
		<p>
			答：统一领取地点：重庆邮电大学太极操场西六门左转红岩网校工作站 登记领取。评奖依据的积分取当月最后一天24点的数据。获奖者会在次月的1-3号接收到重邮小帮手的微信模板消息推送，之后可凭学生证或饭卡以及推送的兑换码到红岩网校工作站领取礼品。兑换时间以模板消息通知为准，一旦过了要求时间不再具备兑奖资格。
		</p>
		<h2>如何查询我的积分账户情况？</h2>
		<p>
			答：（1）您可以登录微信公众号重邮小帮手，在“会员中心”首页中查询。
		</p>
		<p>
			（2）您也可以到红岩网校工作站找相关工作人员进行积分核对查询（地址：太极西六门3楼左转至红岩网校工作站）
		</p>
		<h2>名次礼品兑换一览表</h2>
		<table class="full-width prize">
			<tr>
				<td class="col-1">排行榜名次</td>
				<td class="col-2">奖品名称</td>
				<td class="col-3">数量</td>
			</tr>

			<tr>
				<td class="col-1">第一名</td>
				<td class="col-2">键鼠套装+笔记本</td>
				<td class="col-3">每名一份</td>
			</tr>

			<tr>
				<td class="col-1">第二——三名</td>
				<td class="col-2">16G U盘+笔记本</td>
				<td class="col-3">每名一份</td>
			</tr>

			<tr>
				<td class="col-1">第四——六名</td>
				<td class="col-2">16G U盘</td>
				<td class="col-3">每名一份</td>
			</tr>

			<tr>
				<td class="col-1">第七——十名</td>
				<td class="col-2">笔记本</td>
				<td class="col-3">每名一份</td>
			</tr>


		</table>
	</div>
	<footer>
		<p>最终解释权归重庆邮电大学红岩网校工作站所属</p>
		<p>红岩网校工作站运营维护部</p>
		<p>2015.12</p>
	</footer>
		
</body>
</html>