<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RedCenter</title>
	<link rel="stylesheet" href="__PUBLIC__/css_phone/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css_phone/RedCenter-explain.css">
	<script src="__PUBLIC__/js_phone/flexible.js"></script>
</head>
<body>
	<div id="container-explain" class="page-width auto-center">	
		<h1>会员中心“积分新计划”规则</h1>
		<h2>什么是月积分新计划？</h2>
		<p>
			答：会员中心“月积分新计划”是红岩网校会员中心月积分新计划”是红岩网校会员中心“月积分新计划”是红岩网校会员中心“月积分新计划”是红岩网校会员中心“月积分新计划”是红岩网校会员中心“月积分新计划”是红岩网校
		</p>
		<h2>如何参加月积分新计划？</h2>
		<p>
			答：会员中心“月积分新计划”是红岩网校会员中心月
			积分新计划”是红岩网校会员中心“月积分新计划”是
			红岩网校会员中心
		</p>
		<h2>月名次礼品兑换一览表</h2>
		<table id="prize" class="full-width">
			<tr>
				<td class="col-1">排行榜名次</td>
				<td class="col-2">奖品名称</td>
				<td class="col-3">数量</td>
			</tr>

			<tr>
				<td class="col-1">第一名</td>
				<td class="col-2">键盘鼠标</td>
				<td class="col-3">每名一份</td>
			</tr>

			<tr>
				<td class="col-1">第二/三名</td>
				<td class="col-2">键盘鼠标</td>
				<td class="col-3">每名一份</td>
			</tr>

			<tr>
				<td class="col-1">第二/三名</td>
				<td class="col-2">键盘鼠标</td>
				<td class="col-3">每名一份</td>
			</tr>

			<tr>
				<td class="col-1">第二/三名</td>
				<td class="col-2">键盘鼠标</td>
				<td class="col-3">每名一份</td>
			</tr>


		</table>
		<h2>如何领取月积分新的奖品？</h2>
		<p>
			答：会员中心“月积分新计划”是红岩网校会员中心月积分新计划”是红岩网校会员中心“月积分新计划”是红岩网校会员中心中心“月积分新计划”是红岩网校会员中心月积分新计划”是红岩网校会员中心“月积分新计划”是红岩网校会员中心
		</p>
	</div>
	<footer>
		<p>最终解释权归重庆邮电大学红岩网校工作站所属</p>
		<p>红岩网校工作站运营维护部</p>
		<p>2015.12</p>
	</footer>
		
</body>
</html>