<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>会员中心——找回密码</title>
    <script src="__PUBLIC__/build/style.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript">
        alert("为了你的浏览体验，请升级您的IE或者使用其他现代浏览器。\n现在为你跳转到红岩官网");
        location.href = "http://hongyan.cqupt.edu.cn/";
    </script>
    <![endif]-->
</head>
<body>
    <header class="header" style="background: url(__PUBLIC__/build/images/bg.jpg) no-repeat center;">
        <div class="bg" style="background: url(__PUBLIC__/build/images/bg.jpg) no-repeat center;"></div>
    </header>
    <div id="vue-container" class="container">
        <h1 class="title">RedCenter</h1>
        <div class="container-top" style="background: url(__PUBLIC__/build/images/bg.jpg) no-repeat center;">
            <h1 class="iconfont">&#xe632;</h1>
        </div>
        <div class="container-body">
            <form action="">
                <h2>找回密码</h2>
                <div class="stuID">
                    <input name="stuID" v-model="stuID" type="text" placeholder="请输入您的学号"> 
                </div>
                <div class="code">
                    <img id="code" src="http://hongyan.cqupt.edu.cn/RedCenter/index.php/Home/ForgetPassword/getCode.html" v-on:click="change" alt="点击更换验证码">    
                    <input name="code" v-model="code" type="text" placeholder="请输入验证码">  
                </div>
                <div class="button" v-on:click="post">重置密码</div>
                <p class="info" v-bind:class="status"><i class="iconfont">&#xe653; </i>{{ info }}</p>
            </form>    
        </div>
    </div>
    <footer class="footer">
        <p>
            <a href="http://hongyan.cqupt.edu.cn/aboutus/">关于我们</a>|
            <a href="https://redrock.cqupt.edu.cn/jsns/">锦瑟南山</a>|
            <a href="http://hongyan.cqupt.edu.cn/RedCenter/">会员中心</a>|
            <a href="http://hongyan.cqupt.edu.cn/web/">网址大全</a>
        </p>
        <p>copyright © 2016 红岩网校</p>
    </footer>
    <script src="__PUBLIC__/build/js.js"></script>
</body>
</html>