<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../less/common.css"/>
    <link rel="stylesheet" href="../less/my-product.css">
    <script type="text/javascript" src="../../lib/jquery.min.js"></script>
    <title>会员中心</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="../img/logo.png" alt="logo" class="header-left-logo">
        </div>
        <div class="header-right">
                <a class="header-right-tips" href="#">
                    <img src="../img/helper.png" alt="tipImg">
                    <span>重邮小帮手：您的账号有一条新的消息~</span>
                </a>
            <div class="header-right-user">
                <div class="header-user-face">
                    <img src="../img/face.jpg" alt="face">
                </div>
                <span>最多六个字啊</span>
                <button class="header-user-show" type="button"></button>
                <ul class="header-user-detail">
                    <a href="#">
                        <li class="header-user-select header-user-set">
                            账户设置
                            <span class="header-set-img"></span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="header-user-select header-user-out">
                            退出登录
                            <span class="header-out-img"></span>
                        </li>
                    </a>

                </ul>
            </div>
        </div>

    </div>
    <div class="content">
        <ul class="content-left">
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>用户中心</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>我的产品</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>数据查询</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>帮助中心</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>领奖规则</span>
                </li>
            </a>
        </ul>
            
        <div id="content-my-product">
            <h2 id="added-product"><span></span>已添加的产品</h2>  
            <table id="info-added-product">
                <tr>
                    <th class="product-name">产品名称</th>
                    <th class="product-decribe">描述</th>
                    <th class="product-added-time">添加时间</th>
                    <th class="product-operation">操作</th>
                </tr>
                <tr>
                    <td class="product-name"><img src="../img/zscy-logo.png" alt="">掌上重邮</td>
                    <td class="product-decribe">BTdown铺是用来用来下载资源铺是用来用的个来下载资源的应用</td>
                    <td>2014/02/03</td>
                    <td><a href="##">取消链接</a></td>
                </tr>
                <tr>
                    <td class="product-name"><img src="../img/zscy-logo.png" alt="">掌上重邮</td>
                    <td class="product-decribe">BTdown铺是用来用来下载资源铺是用来用的个来下载资源的应用</td>
                    <td>2014/02/03</td>
                    <td><a href="##">取消链接</a></td>
                </tr>
                <tr>
                    <td class="product-name"><img src="../img/zscy-logo.png" alt="">掌上重邮</td>
                    <td class="product-decribe">BTdown铺是用来用来下载资源铺是用来用的个来下载资源的应用</td>
                    <td>2014/02/03</td>
                    <td><a href="##">取消链接</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script type="text/javascript" src="../js/common.js"></script>
</html>