<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../less/common.css"/>
    <link rel="stylesheet" href="../less/prizes.css">
    <title>领奖规则</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <img src="../img/logo.png" alt="logo" class="header-left-logo">
        </div>
        <div class="header-right">
                <a class="header-right-tips" href="#">
                    <img src="../img/helper.png" alt="tipImg">
                    <span>重邮小帮手：您的账号有一条新的消息~</span>
                </a>
            <div class="header-right-user">
                <div class="header-user-face">
                    <img src="../img/face.jpg" alt="face">
                </div>
                <span>最多六个字啊</span>
                <button class="header-user-show" type="button"></button>
                <ul class="header-user-detail">
                    <a href="#">
                        <li class="header-user-select header-user-set">
                            账户设置
                            <span class="header-set-img"></span>
                        </li>
                    </a>
                    <a href="#">
                        <li class="header-user-select header-user-out">
                            退出登录
                            <span class="header-out-img"></span>
                        </li>
                    </a>

                </ul>
            </div>
        </div>

    </div>
    <div class="content">
        <ul class="content-left">
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>用户中心</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>我的产品</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>数据查询</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>帮助中心</span>
                </li>
            </a>
            <a href="#">
                <li class="content-left-li">
                    <div class="content-li-bar"></div>
                    <span class="content-li-img"></span>
                    <span>领奖规则</span>
                </li>
            </a>
        </ul>
                <div id="prizes-info">
            <h2 id="info-title">&nbsp;领奖规则</h2>  
            <div id="info-content">
                <h3 id="info-content-title">会员中心 "月积分新计划" 规则</h3>
                <ul>
                    <li>
                        <h3 class="info-question">1.什么是月积分新计划?</h3>
                        <p class="info-answer">答：会员中心“月积分计划”是红岩网校工作站为答谢广大用户长期支持与厚爱而推出的一项用户回馈服务。会员中心将根据您当前一个月时间使用相关可奖励积分的网校产品，进行一定的用户行为奖励积分累计，我们将对积分累计做出一套用户积分排名，累计积分越多、排名越靠前者可以通过会员中心兑换丰富多样的礼品。</p>
                    </li>
                    <li>
                        <h3 class="info-question">2.如何参加月积分新计划呢？</h3>
                        <p class="info-answer">答：自2015年12月起，红岩网校工作站会员中心积分计划全新升级，只要您是红岩网校工作站的用户，并且关注重邮小帮手，就可以参与红岩网校工作站会员中心月积分新计划。</p>
                    </li>
                    <li>
                        <h3 class="info-question">3.月名次礼品兑换一览表</h3>
                        <table class="info-answer" id="info-prizes">
                            <tr>
                                <th class="prizes-order">排名榜名次</th>
                                <th class="prizes-name">奖品名称</th>
                                <th class="prizes-quantity">数量</th>
                            </tr>
                            <tr>
                                <td>第一名</td>
                                <td>键鼠套装</td>
                                <td>每名一份</td>
                            </tr>
                            <tr>
                                <td>第二名~第三名</td>
                                <td>16G U盘</td>
                                <td>每名一份</td>
                            </tr>
                            <tr>
                                <td>第四名~第六名</td>
                                <td>8G U盘</td>
                                <td>每名一份</td>
                            </tr>
                            <tr>
                                <td>第七名~第十名</td>
                                <td>笔记本</td>
                                <td>每名一份</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <h3 class="info-question">4.如何领取积分兑换的礼品？</h3>
                        <p class="info-answer">答：统一领取地点：重庆邮电大学太极操场西六门左转红岩网校工作站（登记领取）。评奖依据的积分取当月最后一天24点的数据。获奖者会在次月的1-3号接收到重邮小帮手的微信模板消息推送，之后可凭学生证或饭卡以及推送的兑换码到红岩网校红作战领取礼品，兑换时间以模板消息通知为准，一旦过了要求时间不再具兑换资格。</p>
                        
                    </li>
                </ul>
                <p id="statement">最终解释权归重庆邮电大学红岩网校工作站所属     红岩网校工作站运营维护部 2015.12</p>
            </div>      
        </div>
        <footer>
            <p>
                <a href="##" class="link">关于红岩网校</a> |
                <a href="##" class="link">开发团队</a> |
                <a href="##" class="link">指出错误</a> |
                <a href="##" class="link">管理入口</a>
            </p>
            <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
            <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
        </footer>
    </div>
</body>
<script type="text/javascript" src="../js/common.js"></script>
</html>