<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../less/common.css"/>
    <link rel="stylesheet" href="../less/userCenter.css"/>
    <title>会员中心</title>
</head>
<body>
<div class="header">
    <div class="header-left">
        <img src="../img/logo.png" alt="logo" class="header-left-logo">
    </div>
    <div class="header-right">
        <a class="header-right-tips" href="#">
            <img src="../img/helper.png" alt="tipImg">
            <span>重邮小帮手：您的账号有一条新的消息~</span>
        </a>
        <div class="header-right-user">
            <div class="header-user-face">
                <img src="../img/face.jpg" alt="face">
            </div>
            <span>最多六个字啊</span>
            <button class="header-user-show" type="button"></button>
            <ul class="header-user-detail">
                <a href="#">
                    <li class="header-user-select header-user-set">
                        账户设置
                        <span class="header-set-img"></span>
                    </li>
                </a>
                <a href="#">
                    <li class="header-user-select header-user-out">
                        退出登录
                        <span class="header-out-img"></span>
                    </li>
                </a>

            </ul>
        </div>
    </div>

</div>
<div class="content">
    <ul class="content-left">
        <a href="#">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>用户中心</span>
            </li>
        </a>
        <a href="#">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>我的产品</span>
            </li>
        </a>
        <a href="#">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>数据查询</span>
            </li>
        </a>
        <a href="#">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>帮助中心</span>
            </li>
        </a>
        <a href="#">
            <li class="content-left-li">
                <div class="content-li-bar"></div>
                <span class="content-li-img"></span>
                <span>领奖规则</span>
            </li>
        </a>
    </ul>
    <div class="content-right">
        <div class="content-linkG">
            <a href="#">
                <div class="content-link content-link-help">
                    <img src="../img/help.png" alt="新的帮助">
                    <div class="content-link-detail">
                        <span>新的帮助</span>
                        <em>36524</em>
                    </div>

                </div>
            </a>
            <a href="#">
                <div class="content-link content-link-project">
                    <img src="../img/project.png" alt="新的帮助">
                    <div class="content-link-detail">
                        <span>产品数量</span>
                        <em>3</em>
                    </div>

                </div>
            </a>
            <a href="#">
                <div class="content-link content-link-score">
                    <img src="../img/score.png" alt="新的帮助">
                    <div class="content-link-detail">
                        <span>我的积分</span>
                        <em>365</em>
                    </div>

                </div>
            </a>
        </div>


        <h2 class="content-title">
            <div class="content-title-bar"></div>
            我的消息
        </h2>
        <div class="content-contain">
            <ul class="contain-newG">
                <a href="#">
                    <li class="contain-new">
                        <img src="../img/helper.png" alt="图标">
                        <div class="contain-new-detail">
                            <h3>BTdown铺我是标题
                                <span class="new-unread">未读</span>
                            </h3>
                            <span class="new-time">昨天22:19<img src="../img/time.png" alt="时间"></span>
                            <p class="new-text">我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li class="contain-new">
                        <img src="../img/helper.png" alt="图标">
                        <div class="contain-new-detail">
                            <h3>BTdown铺我是标题
                                <span class="new-unread">未读</span>
                            </h3>
                            <span class="new-time">昨天22:19<img src="../img/time.png" alt="时间"></span>
                            <p class="new-text">我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li class="contain-new">
                        <img src="../img/helper.png" alt="图标">
                        <div class="contain-new-detail">
                            <h3>BTdown铺我是标题
                                <span class="new-unread">未读</span>
                            </h3>
                            <span class="new-time">昨天22:19<img src="../img/time.png" alt="时间"></span>
                            <p class="new-text">我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li class="contain-new">
                        <img src="../img/helper.png" alt="图标">
                        <div class="contain-new-detail">
                            <h3>BTdown铺我是标题
                                <span class="new-unread">未读</span>
                            </h3>
                            <span class="new-time">昨天22:19<img src="../img/time.png" alt="时间"></span>
                            <p class="new-text">我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容我是内容</p>
                        </div>
                    </li>
                </a>
                <a href="#">
                    <li class="contain-new">
                        <img src="../img/helper.png" alt="图标">
                                <div class="contain-new-detail">
                                    <h3>BTdown铺我是标题
                                        <span class="new-unread">未读</span>
                                    </h3>
                                    <span class="new-time">11-09 22:09<img src="../img/time.png" alt="时间"></span>
                            <p class="new-text">我是内容我是内容我是内容我是内容我是内容我是内容</p>
                        </div>
                    </li>
                </a>

            </ul>
            <ol class="contain-pageG">
                <a href="#">
                    <li class="contain-page">
                        <img src="../img/front.png" alt="上一页">
                    </li>
                </a>
                <a href="#">
                    <li class="contain-page">1</li>
                </a>
                <a href="#">
                    <li class="contain-page">2</li>
                </a>
                <a href="#">
                    <li class="contain-page">3</li>
                </a>
                <a href="#">
                    <li class="contain-page">4</li>
                </a>
                <a href="#">
                    <li class="contain-page">5</li>
                </a>
                <li class="contain-page contain-page-more">...</li>
                <a href="#">
                    <li class="contain-page">12</li>
                </a>
                <a href="#">
                    <li class="contain-page">
                        <img src="../img/next.png" alt="下一页">
                    </li>
                </a>
            </ol>
        </div>
    </div>
    <footer>
        <p>
            <a href="##" class="link">关于红岩网校</a> |
            <a href="##" class="link">开发团队</a> |
            <a href="##" class="link">指出错误</a> |
            <a href="##" class="link">管理入口</a>
        </p>
        <p>地址:重庆市南岸区南山街道崇文路2号重庆邮电大学 联系电话:62461084 / 62487910</p>
        <p>本网站由红岩网校工作站负责开发管理,不经红岩网校委员会书面同意,不得进行转载</p>
    </footer>
</div>
</body>
<script type="text/javascript" src="../js/common.js"></script>
</html>