.content-right {
  width: 745px;
  padding-left: 190px;
  margin: auto;
}
.content-linkG {
  height: 96px;
  width: 745px;
  margin: 26px auto 31px auto;
}
.content-link {
  width: 240px;
  height: 78px;
  margin-right: 12px;
  padding-top: 18px;
  color: #eff5fd;
  -webkit-box-shadow: 0 1px 1px 1px #e9e9e9;
  -moz-box-shadow: 0 1px 1px 1px #e9e9e9;
  box-shadow: 0 1px 1px 1px #e9e9e9;
  overflow: hidden;
  float: left;
}
.content-link img {
  float: left;
}
.content-link span {
  font-family: SimSun, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  display: block;
  margin-bottom: 7px;
}
.content-link em {
  line-height: 34px;
  text-align: center;
  font-style: normal;
  font-family: Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 46px;
  color: #fff;
}
.content-link-detail {
  padding-left: 115px;
  padding-right: 40px;
  text-align: center;
}
.content-link-help {
  background-color: #ff7d7d;
}
.content-link-help img {
  margin-left: 56px;
}
.content-link-project {
  background-color: #7db6f1;
}
.content-link-project img {
  margin-left: 60px;
  margin-top: 7px;
}
.content-link-score {
  background-color: #ffc56a;
  margin-right: 0;
}
.content-link-score img {
  margin-left: 49px;
  margin-top: 8px;
}
.content-title {
  height: 20px;
  margin-top: 23px;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
}
.content-title-bar {
  width: 4px;
  height: 20px;
  background-color: #3cdcc0;
  margin-right: 8px;
  float: left;
}
.content-contain {
  padding: 5px 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #dddddd;
  -moz-box-shadow: 0 0 0 1px #dddddd;
  box-shadow: 0 0 0 1px #dddddd;
}
.content-contain:after {
  content: '';
  width: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.contain-newG {
  padding: 0;
  margin: 0 20px;
}
.contain-new {
  height: 45px;
  padding: 16px 0;
  position: relative;
  border-bottom: 1px dotted #d0d0d0;
}
.contain-new img {
  width: 38px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
}
.contain-new-detail {
  padding-left: 61px;
  padding-right: 12px;
}
.contain-new-detail h3 {
  height: 16px;
  font-size: 14px;
  color: #000;
  margin: 0;
  line-height: 16px;
  float: left;
}
.new-unread {
  color: #dd3b3b;
  font-family: SimSun, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 12px;
  border: 1px #dd3b3b solid;
  padding: 1px 4px;
  vertical-align: bottom;
}
.new-time {
  font-size: 12px;
  color: #999999;
  float: right;
  padding-right: 20px;
  position: relative;
}
.new-time img {
  height: 12px;
  width: 12px;
  right: 0;
  left: auto;
}
.new-text {
  width: 494px;
  font-family: SimSun, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  margin-top: 16px;
  margin-bottom: 0;
  color: #a0a0a0;
  font-size: 12px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.contain-pageG {
  list-style-type: none;
  float: right;
  padding: 0;
  margin: 19px 34px 15px 0;
}
.contain-page {
  float: left;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #999999;
  font-size: 12px;
}
.contain-page:hover {
  background-color: #eaeaea;
  color: #747474;
  -moz-border-radius: 2px;
  /* Gecko browsers */
  -webkit-border-radius: 2px;
  /* Webkit browsers */
  border-radius: 2px;
  /* W3C syntax */
}
.contain-page img {
  vertical-align: middle;
}
.contain-page-more {
  cursor: auto;
}
.contain-page-more:hover {
  background-color: #fff;
}
