h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#content-my-product {
  margin: 0 auto;
  padding-left: 220px;
  width: 800px;
}
.added-product {
  margin: 26px 0 13px 0;
  font-size: 18px;
  font-weight: 500;
}
.added-product span {
  position: relative;
  top: 3px;
  display: inline-block;
  height: 18px;
  width: 4px;
  margin-right: 10px;
  background-color: #3bddc0;
}
#info-added-product {
  margin-bottom: 50px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  background-color: #fff;
}
#info-added-product tr {
  width: 743px;
}
#info-added-product th {
  font-size: 14px;
  font-weight: 500;
  color: #999;
}
#info-added-product th,
#info-added-product td {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
#info-added-product td {
  font-size: 14px;
  color: #656565;
}
#info-added-product td a {
  display: inline-block;
  width: 72px;
  border-radius: 3px;
  line-height: 26px;
  text-align: center;
  color: #999;
  background-color: #ebebeb;
}
#info-added-product .product-name {
  width: 154px;
  padding: 13px;
}
#info-added-product .product-name img {
  padding-right: 13px;
  vertical-align: -50%;
}
#info-added-product .product-decribe {
  padding-right: 80px;
  width: 254px;
}
#info-added-product .product-added-time {
  width: 155px;
}
#info-added-product .product-operation {
  width: 90px;
}
#can-add-product {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
#can-add-product .can-add-product-item {
  padding: 22px 20px;
  width: 342px;
  height: 47px;
  border: 1px solid #f5f5f5;
  background-color: #fff;
  cursor: default;
}
#can-add-product .can-add-product-item img {
  position: relative;
  top: 4px;
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
#can-add-product .can-add-product-item p {
  width: 170px;
  float: left;
  font-size: 14px;
}
#can-add-product .can-add-product-item .can-add-product-name {
  display: block;
}
#can-add-product .can-add-product-item .can-add-product-decribe {
  color: #9a9a9a;
}
#can-add-product .can-add-product-item .add-button {
  float: left;
  display: inline-block;
  float: right;
  margin-top: 10px;
  padding: 10px 30px;
  border: 1px solid #4593ea;
  border-radius: 3px;
  font-size: 14px;
  color: #4593ea;
}
#can-add-product .can-add-product-item .add-button:hover {
  background-color: #4593ea;
  color: #fff;
  cursor: pointer;
}
